# **Investigate Hotel Business**

### Dataset column

* `hotel` : The datasets contains the booking information of two hotel. One of the hotels is a resort hotel and the other is a city hotel
* `is_canceled` : Value indicating if the booking was canceled (1) or not (0)
* `lead_time` : Number of days that elapsed between the entering date of the booking into the PMS and the arrival date
* `arrival_date_year` : Year of arrival date
* `arrival_date_month` : Month of arrival date with 12 categories: “January” to “December”
* `arrival_date_week_number` : Week number of the arrival date
* `arrival_date_day_of_month` : Day of the month of the arrival date
* `stays_in_weekend_nights` : Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
* `stays_in_weekdays_nights` : Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel BO and BL/Calculated by counting the number of week nights
* `adults` : Number of adults
* `children` : Number of children
* `babies` : Number of babies
* `meal` : Meal menu
* `city` : City of origin
* `market_segment` : Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”
* `distribution_channel` : Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”
* `is_repeated_guest` : Value indicating if the booking name was from a repeated guest (1) or not (0)
* `previous_cancellations` : Number of previous bookings that were cancelled by the customer prior to the current booking
* `previous_bookings_not_canceled` : Number of previous bookings not cancelled by the customer prior to the current booking
* `booking_changes` : Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation
* `deposit_type` : No Deposit – no deposit was made; Non Refund – a deposit was made in the value of the total stay cost; Refundable – a deposit was made with a value under the total cost of stay
* `agent` : ID of the travel agency that made the booking
* `company` : ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons
* `days_in_waiting_list` : Number of days the booking was in the waiting list before it was confirmed to the customer
* `customer_type` : Group – when the booking is associated to a group; Transient – when the booking is not part of a group or contract, and is not associated to other transient booking; Transient-party – when the booking is transient, but is associated to at least other transient booking
* `adr` : Average Daily Rate (Calculated by dividing the sum of all lodging transactions by the total number of staying nights)
* `required_car_parking_spaces` : Number of car parking spaces required by the customer
* `total_of_special_requests` : Number of special requests made by the customer (e.g. twin bed or high floor)
* `reservation_status` : Check-Out – customer has checked in but already departed; No-Show – customer did not check-in and did inform the hotel of the reason why

### **EDA**

In [83]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
#show all columns
pd.pandas.set_option('display.max_columns', None)

In [85]:
# load data
df = pd.read_csv('dataset/hotel_bookings_data.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,3,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,4,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
2,Resort Hotel,0,7,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Direct,Direct,0,0,0,0,No Deposit,NaN,NaN,0,Personal,75.0,0,0,Check-Out
3,Resort Hotel,0,13,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Corporate,Corporate,0,0,0,0,No Deposit,304.0,NaN,0,Personal,75.0,0,0,Check-Out
4,Resort Hotel,0,14,2017,September,27,1,0,2,2,0.0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240.0,NaN,0,Personal,98.0,0,1,Check-Out

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

* on this dataset column children, city, agent and company have null values
* data type of `children`,`agent`,`company` columns must be integer instead of float

In [87]:
# check duplicates in data
print('duplicated data:', df.duplicated().sum())

duplicated data: 33261

In [88]:
# copy data for backup
df2 = df.copy()

### **Data Preprocessing**

In [89]:
# drop duplicates
df.drop_duplicates(keep='first',inplace=True)

In [90]:
# check null values and create on dataframe
null_cols = df.columns[df.isna().any()]
df_null = df[null_cols].isna().sum().to_frame().reset_index()
df_null.columns = ['column_name', 'null_count']

# count percentage of null values
df_null['null_percentage'] = df_null['null_count'] / df.shape[0]*100
df_null

  column_name  null_count  null_percentage
0    children           4         0.004644
1        city         450         0.522472
2       agent       11941        13.864088
3     company       81019        94.067039

* will be imputed on column `children`, `city`, and `agent`
* and column `company` will be deleted

In [91]:
# input null values on 'children' column with value 0
df['children'] = df['children'].fillna(0)

# input null values on 'city' column with value 'Unknown'
df['city'] = df['city'].fillna('Unknown')

# input null values on 'agent' column with median
df['agent'] = df['agent'].fillna(df['agent'].median())

df.drop('company', axis=1, inplace=True)

print('null values:', df.isna().sum().sum())

null values: 0

In [92]:
# fix the data types
df['children'] = df['children'].astype('int')
df['agent'] = df['agent'].astype('int')

In [93]:
# split columns into categories and numeric
cat_colm       = df.select_dtypes(include='object').columns
num_colm       = df.select_dtypes(exclude='object').columns

In [94]:
df[cat_colm].describe().T

                      count unique            top   freq
hotel                 86129      2     City Hotel  52575
arrival_date_month    86129     12        October  11150
meal                  86129      5      Breakfast  67088
city                  86129    178  Kota Denpasar  26903
market_segment        86129      8      Online TA  51393
distribution_channel  86129      5          TA/TO  68141
deposit_type          86129      3     No Deposit  85024
customer_type         86129      4       Personal  71648
reservation_status    86129      3      Check-Out  62393

In [95]:
df[num_colm].describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,86129.0,0.275587,0.446812,0.00,0.00,0.00,1.00,1.0
lead_time,86129.0,79.246224,85.498774,0.00,11.00,49.00,124.00,737.0
arrival_date_year,86129.0,2018.215467,0.683948,2017.00,2018.00,2018.00,2019.00,2019.0
arrival_date_week_number,86129.0,26.796433,13.675130,1.00,16.00,27.00,37.00,53.0
arrival_date_day_of_month,86129.0,15.806511,8.840436,1.00,8.00,16.00,23.00,31.0
stays_in_weekend_nights,86129.0,1.009753,1.033402,0.00,0.00,1.00,2.00,19.0
stays_in_weekdays_nights,86129.0,2.633225,2.058316,0.00,1.00,2.00,4.00,50.0
adults,86129.0,1.878554,0.627558,0.00,2.00,2.00,2.00,55.0
children,86129.0,0.140278,0.458337,0.00,0.00,0.00,0.00,10.0
babies,86129.0,0.010984,0.114421,0.00,0.00,0.00,0.00,10.0
is_repeated_guest,86129.0,0.039499,0.194780,0.00,0.00,0.00,0.00,1.0
previous_cancellations,86129.0,0.030570,0.371465,0.00,0.00,0.00,0.00,26.0
previous_bookings_not_canceled,86129.0,0.186569,1.744405,0.00,0.00,0.00,0.00,72.0
booking_changes,86129.0,0.271987,0.729529,0.00,0.00,0.00,0.00,21.0
agent,86129.0,83.140139,108.629068,1.00,9.00,14.00,240.00,535.0
days_in_waiting_list,86129.0,0.645114,9.282699,0.00,0.00,0.00,0.00,391.0
adr,86129.0,106.634109,55.175319,-6.38,72.25,98.75,134.51,5400.0
required_car_parking_spaces,86129.0,0.085233,0.283070,0.00,0.00,0.00,0.00,8.0
total_of_special_requests,86129.0,0.705059,0.833525,0.00,0.00,1.00,1.00,5.0

* column `lead_time`, `agent`,`days_in_waiting_list`,`adr` have mean and median value too far or skewed distribution
* column `adr` have negative value

In [96]:
# check unique values
for col in cat_colm:
    print(f'unique value on column {col}: {df[col].unique()}')
    print('\n')

unique value on column hotel: ['Resort Hotel' 'City Hotel']


unique value on column arrival_date_month: ['September' 'October' 'November' 'December' 'January' 'February' 'March'
 'April' 'May' 'June' 'July' 'August']


unique value on column meal: ['Breakfast' 'Full Board' 'Dinner' 'No Meal' 'Undefined']


unique value on column city: ['Kota Denpasar' 'Kabupaten Bangka' 'Kabupaten Sleman' 'Kota Batu'
 'Kota Malang' 'Kota Yogyakarta' 'Unknown' 'Kabupaten Tangerang'
 'Kota Semarang' 'Kota Serang' 'Kota Tangerang' 'Kota Bogor'
 'Kabupaten Bandung' 'Kabupaten Magelang' 'Kabupaten Sumedang'
 'Kota Jakarta Timur' 'Kabupaten Purwakarta' 'Kabupaten Kepulauan Seribu'
 'Kabupaten Belitung' 'Kota Jakarta Pusat' 'Kota Jakarta Selatan'
 'Kota Surabaya' 'Kota Jakarta Utara' 'Kota Gorontalo' 'Kota Jambi'
 'Kota Jakarta Barat' 'Kota Bengkulu' 'Kabupaten Bandung Barat'
 'Kabupaten Bekasi' 'Kabupaten Bogor' 'Kabupaten Ciamis'
 'Kabupaten Cianjur' 'Kabupaten Cirebon' 'Kota Cimahi'
 'Kabupaten Indramayu' 'Kabupaten Karawang' 'Kabupaten Kuningan'
 'Kabupaten Majalengka' 'Kabupaten Serang' 'Kota Pangkal Pinang'
 'Kabupaten Subang' 'Kabupaten Sukabumi' 'Kabupaten Garut'
 'Kabupaten Tasikmalaya' 'Kota Bandung' 'Kota Banjar' 'Kota Bekasi'
 'Kabupaten Pandeglang' 'Kabupaten Pangandaran' 'Kota Cirebon'
 'Kota Depok' 'Kota Sukabumi' 'Kota Tasikmalaya' 'Kabupaten Banjarnegara'
 'Kabupaten Banyumas' 'Kabupaten Batang' 'Kabupaten Blora'
 'Kabupaten Boyolali' 'Kabupaten Brebes' 'Kabupaten Cilacap'
 'Kabupaten Demak' 'Kabupaten Grobogan' 'Kabupaten Jepara'
 'Kabupaten Karanganyar' 'Kabupaten Kebumen' 'Kabupaten Kendal'
 'Kabupaten Klaten' 'Kabupaten Kudus' 'Kota Kediri' 'Kabupaten Pati'
 'Kabupaten Pekalongan' 'Kabupaten Pemalang' 'Kabupaten Purbalingga'
 'Kabupaten Purworejo' 'Kabupaten Rembang' 'Kabupaten Semarang'
 'Kabupaten Sragen' 'Kabupaten Sukoharjo' 'Kabupaten Tegal'
 'Kabupaten Temanggung' 'Kabupaten Wonogiri' 'Kabupaten Wonosobo'
 'Kota Magelang' 'Kota Pekalongan' 'Kota Salatiga' 'Kabupaten Bantul'
 'Kota Surakarta' 'Kota Tegal' 'Kabupaten Bangkalan'
 'Kabupaten Banyuwangi' 'Kabupaten Blitar' 'Kabupaten Bojonegoro'
 'Kabupaten Bondowoso' 'Kabupaten Gresik' 'Kabupaten Jember'
 'Kabupaten Jombang' 'Kabupaten Kediri' 'Kabupaten Lamongan'
 'Kabupaten Lumajang' 'Kabupaten Madiun' 'Kabupaten Magetan'
 'Kabupaten Kerinci' 'Kabupaten Mojokerto' 'Kabupaten Nganjuk'
 'Kabupaten Ngawi' 'Kabupaten Pacitan' 'Kabupaten Pamekasan'
 'Kabupaten Pasuruan' 'Kabupaten Ponorogo' 'Kabupaten Probolinggo'
 'Kabupaten Sampang' 'Kabupaten Sidoarjo' 'Kabupaten Situbondo'
 'Kabupaten Sumenep' 'Kabupaten Trenggalek' 'Kabupaten Tuban'
 'Kabupaten Tulungagung' 'Kabupaten Gunung Kidul' 'Kota Blitar'
 'Kota Tangerang Selatan' 'Kota Madiun' 'Kota Cilegon' 'Kota Mojokerto'
 'Kota Pasuruan' 'Kota Probolinggo' 'Kabupaten Malang'
 'Kabupaten Kapuas Hulu' 'Kabupaten Ketapang' 'Kota Pontianak'
 'Kabupaten Banjar' 'Kabupaten Barito Kuala' 'Kota Banjarbaru'
 'Kota Banjarmasin' 'Kabupaten Kapuas' 'Kabupaten Katingan'
 'Kabupaten Kotawaringin Barat' 'Kabupaten Kotawaringin Timur'
 'Kabupaten Musi Banyuasin' 'Kabupaten Murung Raya' 'Kota Palembang'
 'Kabupaten Seruyan' 'Kabupaten Sukamara' 'Kota Palangka Raya'
 'Kota Balikpapan' 'Kota Bontang' 'Kota Samarinda' 'Kabupaten Berau'
 'Kabupaten Kutai Barat' 'Kota Tarakan' 'Kota Batam'
 'Kabupaten Pesisir Barat' 'Kabupaten Pringsewu' 'Kota Bandar Lampung'
 'Kota Lampung Timur' 'Kota Ambon' 'Kabupaten Kepulauan Aru'
 'Kabupaten Maluku Barat Daya' 'Kabupaten Maluku Tengah'
 'Kabupaten Maluku Tenggara' 'Kabupaten Maluku Tenggara Barat'
 'Kabupaten Halmahera Selatan' 'Kota Ternate' 'Kota Tidore Kepulauan'
 'Kabupaten Aceh Jaya' 'Kota Banda Aceh' 'Kota Lhokseumawe' 'Kota Sabang'
 'Kabupaten Lombok Barat' 'Kabupaten Sumbawa' 'Kota Mataram'
 'Kabupaten Flores Timur' 'Kabupaten Timor Tengah Selatan' 'Kota Jayapura'
 'Kota Bukittinggi' 'Kota Padang' 'Kabupaten Nias' 'Kota Binjai' 'Medan']


unique value on column market_segment: ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']


unique value on column distribution_channel: ['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']


unique value on column deposit_type: ['No Deposit' 'Refundable' 'Non Refund']


unique value on column customer_type: ['Personal' 'Contract' 'Family' 'Bussiness']


unique value on column reservation_status: ['Check-Out' 'Canceled' 'No-Show']

In [97]:
# replace Undefined values with No Meal
df['meal'].replace('Undefined', 'No Meal', inplace=True)
df['meal'].value_counts()

Breakfast     67088
No Meal        9896
Dinner         8798
Full Board      347
Name: meal, dtype: int64

In [98]:
# change negative values on 'adr'column to 0
df['adr'] = df['adr'].apply(lambda x: 0 if x < 0 else x)

In [99]:
print(f'data before preprocessing:',df.shape[0],'\n')

# create new column and removing unnecessary data
df['guest'] = df['adults'] + df['children'] + df['babies']
print('Data with 0 guest : {0} out of {1} all data'.format(df[df['guest']==0].shape[0],df.shape[0]))
df['stay_duration'] = df['stays_in_weekend_nights'] + df['stays_in_weekdays_nights']
print('Data with 0 night : {0} out of {1} all data'.format(df[df['stay_duration']==0].shape[0],df.shape[0]))
print('\n')

#remove unnecessary data
df_new = df[(df['guest'] > 0) & (df['stay_duration'] > 0)]

print('data after preprocessing:',df_new.shape[0])

data before preprocessing: 86129

Data with 0 guest : 165 out of 86129 all data
Data with 0 night : 645 out of 86129 all data


data after preprocessing: 85378

In [100]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85378 entries, 2 to 119389
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           85378 non-null  object
 1   is_canceled                     85378 non-null  int64
 2   lead_time                       85378 non-null  int64
 3   arrival_date_year               85378 non-null  int64
 4   arrival_date_month              85378 non-null  object
 5   arrival_date_week_number        85378 non-null  int64
 6   arrival_date_day_of_month       85378 non-null  int64
 7   stays_in_weekend_nights         85378 non-null  int64
 8   stays_in_weekdays_nights        85378 non-null  int64
 9   adults                          85378 non-null  int64
 10  children                        85378 non-null  int32
 11  babies                          85378 non-null  int64
 12  meal                            85378 non-null  object
 13  city                            85378 non-null  object
 14  market_segment                  85378 non-null  object
 15  distribution_channel            85378 non-null  object
 16  is_repeated_guest               85378 non-null  int64
 17  previous_cancellations          85378 non-null  int64
 18  previous_bookings_not_canceled  85378 non-null  int64
 19  booking_changes                 85378 non-null  int64
 20  deposit_type                    85378 non-null  object
 21  agent                           85378 non-null  int32
 22  days_in_waiting_list            85378 non-null  int64
 23  customer_type                   85378 non-null  object
 24  adr                             85378 non-null  float64
 25  required_car_parking_spaces     85378 non-null  int64
 26  total_of_special_requests       85378 non-null  int64
 27  reservation_status              85378 non-null  object
 28  guest                           85378 non-null  int64
 29  stay_duration                   85378 non-null  int64
dtypes: float64(1), int32(2), int64(18), object(9)
memory usage: 19.5+ MB